@import "/node_modules/bulma/sass/utilities/functions";

/* main colors */
$green: #5a9c30;
$blue: #95bf74;
$light-green: findLightColor($green);
$dark-green: #283f3b;
$primary: $green;
$secondary: $blue;

::selection {
  background: $secondary; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $secondary; /* Gecko Browsers */
}


/* button */
$pressed: $secondary;
$button-color: $primary;
$button-hover-color: $pressed;
$button-focus-color: $pressed;
$button-active-color: $pressed;


/* navigation bar */
$navbar-background-color: #393e46 !important;
$navbar-item-color: white;
$navbar-item-hover-color: $secondary;
$navbar-item-active-color: $primary;

a.router-link-active {
  color: $primary;
}

